                                                                                    * {
                                                                            margin: 0;
                                                                            padding: 0;
                                                                            font-size: 25px;
                                                                        }
                                                                        
                                                                        .header-content {
                                                                            background-color: #c868fc;
                                                                        }
                                                                        
                                                                        .header-content__text {
                                                                            display: inline-block;
                                                                            padding-top: 10%;
                                                                            padding-bottom: 10%;
                                                                            margin-left: 2%;
                                                                        }
                                                                        
                                                                        .header-content__text h1 {
                                                                            text-align: center;
                                                                            color: rgb(255, 255, 255);
                                                                            font-size: 2.5em;
                                                                            font-family: 'Roboto Slab', serif;
                                                                            display: inline-block;
                                                                        }
                                                                        
                                                                        .header-content__text span {
                                                                            margin-left: 3%;
                                                                            display: inline-block;
                                                                            color: rgb(255, 255, 255);
                                                                            font-size: 42%;
                                                                            font-family: 'Roboto Slab', serif;
                                                                        }
                                                                        
                                                                        .header-svg {
                                                                            width: 40%;
                                                                            margin-left: 10%;
                                                                            margin-bottom: -10%;
                                                                        }
                                                                        
                                                                        .svg-wave {
                                                                            min-width: none;
                                                                        }
                                                                        
                                                                        section {
                                                                            margin: 50px;
                                                                            min-width: 300px;
                                                                        }
                                                                        
                                                                        section h2 {
                                                                            font-size: 1em;
                                                                            font-family: 'IBM Plex Sans', sans-serif;
                                                                            margin-bottom: 10px;
                                                                        }
                                                                        
                                                                        section h3 {
                                                                            display: block;
                                                                            font-size: 0.8em;
                                                                            font-family: 'Roboto Slab', serif;
                                                                            font-weight: 300;
                                                                            margin-bottom: 10px;
                                                                            margin-left: 10px;
                                                                        }
                                                                        
                                                                        section p {
                                                                            display: flex;
                                                                            font-size: 0.7em;
                                                                            margin-left: 10px;
                                                                            font-family: 'Source Sans Pro', sans-serif;
                                                                        }
                                                                        
                                                                        section ul {
                                                                            margin-left: 40px;
                                                                            list-style-type: disc;
                                                                        }
                                                                        
                                                                        section li {
                                                                            font-size: 0.7em;
                                                                            font-family: 'Source Sans Pro', sans-serif;
                                                                        }
                                                                        
                                                                        @media screen and (max-width: 1360px) {
                                                                            .header-svg {
                                                                                width: 30%;
                                                                            }
                                                                            @media screen and (max-width: 1130px) {
                                                                                .header-svg {
                                                                                    width: 25%;
                                                                                }
                                                                                @media screen and (max-width: 1035px) {
                                                                                    .header-svg {
                                                                                        width: 60%;
                                                                                        margin-bottom: 20px;
                                                                                        margin-left: 20%;
                                                                                    }
                                                                                    @media screen and (max-width: 675px) {
                                                                                        .header-content__text {
                                                                                            padding-bottom: 10px;
                                                                                        }
                                                                                        .header-svg {
                                                                                            width: 100%;
                                                                                            margin-top: 0;
                                                                                            margin-left: 0px;
                                                                                            margin-bottom: 30px;
                                                                                        }
                                                                                    }
                                                                                    @media screen and (max-width: 660px) {
                                                                                        .header-content__text span {
                                                                                            margin-left: 20px;
                                                                                        }
                                                                                    }